  $primary: #353c38;
  $secondary: #3e6459;
  $tertiary: #72a670;
  $white: #fff;
  $lightgrey: #acbcc9;
  $grey: #7f8b9a;
  $black: #2f2f2f;
  $pink: #b47f90;
  $darkblue: #1c284e;
  $red: #b66055;
  $lightblue: #4aaac2;
  $gold: #af9775;
